/SimuladorEscalonamento/nbproject/private/
/SimuladorEscalonamento/build/
/SimuladorEscalonamento/dist/
/TesteLinhaTempo/nbproject/private/
/TesteLinhaTempo/build/
/InterfaceGraficaSimuEscalonamento/nbproject/private/
/InterfaceGraficaSimuEscalonamento/build/
/InterfaceGraficaSimuEscalonamento/dist/
